**/.vs/
**/obj/
StudentEmployementPortal/.vs/StudentEmployementPortal/v17/.suo
StudentEmployementPortal/.vs/StudentEmployementPortal/v17/.suo
StudentEmployementPortal/StudentEmployementPortal/bin/Debug/net6.0/StudentEmployementPortal.dll
StudentEmployementPortal/StudentEmployementPortal/bin/Debug/net6.0/StudentEmployementPortal.pdb
*.dll
*.cache
*.pdb
StudentEmployementPortal/StudentEmployementPortal/appsettings.json
