**/.vs/
StudentEmployementPortal/.vs/
.vs/
obj/
StudentEmployementPortal/StudentEmployementPortal/obj/Debug/net6.0/StudentEmployementPortal.assets.cache
StudentEmployementPortal/StudentEmployementPortal/obj/Debug/net6.0/StudentEmployementPortal.GeneratedMSBuildEditorConfig.editorconfig
