<style>
    .custom-btn {
        height: 10rem;
        width: 20rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: #fff;
        /* background-color: #007bff;*/
        transition: transform 0.3s, box-shadow 0.3s;
    }



        .custom-btn:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
        }
</style>

<h3 class="text-center pb-2">Welcome Approver</h3>
<div class="row pt-4">
   
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group">
            <a id="reviewRecruiter" asp-area="" asp-controller="ApproverEmployer" asp-action="Index" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Review Employers</a>
            <a id="reviewPosts" asp-area="" asp-controller="ApproverPost" asp-action="Index" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Review Posts</a>
            @*<a id="viewStats" asp-area="" asp-controller="" asp-action="" class="btn btn-primary p-2 m-2">View Stats</a>*@
        </div>
    </div>
</div>