

<h3 class="text-center pb-2">Welcome Approver</h3>
<div class="row pt-4">
   
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group">
            <a id="reviewRecruiter" asp-area="" asp-controller="ApproverEmployer" asp-action="Index" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Review Employers</a>
            <a id="reviewPosts" asp-area="" asp-controller="ApproverPost" asp-action="Index" class="btn btn-primary custom-btn mx-2 mb-2 rounded">Review Posts</a>
            @*<a id="viewStats" asp-area="" asp-controller="" asp-action="" class="btn btn-primary p-2 m-2">View Stats</a>*@
        </div>
    </div>
</div>