<div>
    <h3 class="text-center pb-2">Welcome Approver</h3>
    <div class="d-flex justify-content-center">
        <div class="d-inline-block">
            <a id="reviewRecruiter" asp-area="" asp-controller="" asp-action="" class="btn btn-primary p-2 m-2">Review Recruiters</a>
            <a id="reviewPosts" asp-area="" asp-controller="ApproverPost" asp-action="Index" class="btn btn-primary p-2 m-2">Review Posts</a>
            <a id="viewStats" asp-area="" asp-controller="" asp-action="" class="btn btn-primary p-2 m-2">View Stats</a>
        </div>
    </div>
</div>