<div>
    <h2 class="text-center text-danger" style="font-family:Courier New, Courier, monospace">
        Your profile is Pending. Please wait for confirmation via email for an update regarding the status of your profile.
    </h2>
</div>