@using Microsoft.AspNetCore.Identity
@using StudentEmployementPortal.Utils

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(DefineRole.Role_Employer))
    {
        <h3 class="text-center text-dark" style="font-family:Courier New, Courier, monospace">Hello, @(ViewData["Name"]?.ToString())</h3>
        <partial name="EmployerHome" />
    }
    else if (User.IsInRole(DefineRole.Role_Student))
    {
        <h3 class="text-center text-dark" style="font-family:Courier New, Courier, monospace">Hello, @(ViewData["Name"]?.ToString())</h3>
        <partial name="StudentHome" />
    }
    else if (User.IsInRole(DefineRole.Role_Approver))
    {
        <partial name="ApproverHome" />
    }
}
else
{
    <div class="text-center">
        <h1> WELCOME TO THE STUDENT EMPLOYMENT PORTAL</h1>
    </div>
}
    

