@using Microsoft.AspNetCore.Identity

<div class="text-center">
    <h1>Welcome Student</h1>
    <div class="d-flex justify-content-center">
        <div class="d-inline-block">
            <a id="manageStudentProfile" asp-area="" asp-controller="ManageStudentProfile" asp-action="Index" class="btn btn-primary p-2 m-2">Manage Profile</a>
            <a id="searchAndApply" asp-area="" asp-controller="Application" asp-action="Index" asp-route-id="" class="btn btn-primary p-2 m-2">Search And Apply</a>
            <a id="applicationHistory" asp-area="" asp-controller="ApplicationHistory" asp-action="Index" class="btn btn-primary p-2 m-2">Application History</a>
        </div>
    </div>



    <div class="text-start">
        <p><strong>CCDU CV &amp; Cover Letter Documents:</strong></p>
        <ul>
            <li><strong><a target="_blank" href="https://www.wits.ac.za//media/wits-university/students/ccdu/documents/The CV  Cover Letter [4 Mar 2020].pdf">CV &amp; Cover Letter Presentation</a>&nbsp;-&nbsp;</strong>A pdf of the PowerPoint presentation as presented in the Journey to Employability Programme [JEm].</li>
            <li><strong><a target="_blank" href="https://www.wits.ac.za//media/wits-university/students/ccdu/documents/KABELO SEKELE (5 Mar 2020).docx">Kabelo Sekele CV</a> - </strong>A Word template providing a guide to the essential elements of a CV.</li>
            <li><strong><a target="_blank" href="https://www.wits.ac.za//media/wits-university/students/ccdu/documents/KABELO SEKELE (5 Mar 2020).pdf">Kabelo Sekele CV (pdf)</a>&nbsp;-&nbsp;</strong>A pdf template providing a guide to the essential elements of a CV.</li>
            <li><strong><a target="_blank" href="https://www.wits.ac.za//media/wits-university/students/ccdu/documents/The Job Interview [11 Mar 2020].pdf">The Job Interview [11Mar2020]</a></strong> - A pdf of the Powerpoint presentation as presented in the Journey to Employability Programme [JEm]</li>
        </ul>
    </div>
</div>