<div class="text-center">
    <h1>Welcome Student</h1>
    <br />
    <ul class="list-inline">
        <li class="pb-2">
            <a id="searchApply" class="btn btn-dark">Manage Posts</a>
        </li>

        <li class="pb-2">
            <a id="manageStudentProfile" class="btn btn-dark">Manage Profile</a>
        </li>
    </ul>
</div>