@model StudentEmployementPortal.Models.Application

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="Application" asp-action="Cancel" asp-route-id="@Model.ApplicationId" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Confirm Application</h2>
</div>
<hr />

<form method="post">
    <div class="pt-2 mt-2">
        <div style="display:inline-block">
            <p style="display:inline-block; font-size:larger"> You are about to submit your application for the following post: 
                <text style="font-weight:bold; display:inline-block; font-size:larger">@Model.Post.JobTitle</text>
            </p>
            <p style="font-size:larger"> Go to the next page and upload required documents.</p>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Upload" asp-route-id="@Model.ApplicationId" class="btn btn-primary">Upload Documents</a>
        <a asp-action="Cancel" asp-route-id="@Model.ApplicationId" class="btn btn-secondary">Cancel</a>
    </div>
</form>