@model StudentEmployementPortal.Models.Application

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<form method="post">
    <div class="pt-2 mt-2">
        <div class="pb-2">
            <h4 class="text-primary">Confirm Application</h4>
        </div>
        <div style="display:inline-block">
            <p style="display:inline-block"> You are about to submit your application for the following post:
                <p style="font-weight:bold; display:inline-block">@Model.Post.JobTitle</p>
                <p> Go to the next page and upload required documents.</p>
            </p>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Upload" asp-route-id="@Model.ApplicationId" class="btn btn-primary">Upload</a>
        <a asp-action="Cancel" asp-route-id="@Model.ApplicationId" class="btn btn-secondary">Cancel</a>
    </div>
</form>