@model WorkExperience

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="ManageStudentProfile" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Add Work Experience</h2>
</div>
<hr />

<form asp-action="AddWorkExperience" id="experienceForm">
    <div class="form-control">
        <div>
            <label asp-for="EmployerName"></label>
            <input asp-for="EmployerName" class="form-control" id="employerNameId"/>
            <span asp-validation-for="EmployerName" class="text-danger" id="employerValidation"></span>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" type="month" class="form-control" id="startDateId" />
                <span asp-validation-for="StartDate" class="text-danger" id="startDateValidation"></span>
            </div>
            <div class="col">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" type="month" class="form-control" id="endDateId" />
            </div>
        </div>
        <br />
        <div>
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" class="form-control" id="jobTitleId"/>
            <span asp-validation-for="JobTitle" class="text-danger" id="jobTitleValidation"></span>
        </div>
        <br />
        <div>
            <label asp-for="TasksAndResponsibilities"></label>
            <textarea asp-for="TasksAndResponsibilities" class="form-control" id="TRId"></textarea>
            <span asp-validation-for="TasksAndResponsibilities" class="text-danger" id="TRValidation"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="pt-2 btn btn-primary" id="submitButton">Add Work Experience</button>
</form>

@section Scripts{
    <script src="~/js/studentExperienceValidation.js"></script>
}