@using StudentEmployementPortal.Utils;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .center-navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student Employment Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/sandstone.bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentEmployementPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/dataTable.CustomTheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">


</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/WitsLogo.png" alt="WitsLogo" height="75"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole(DefineRole.Role_Employer))
                    {
                        <div class="navbar-brand center-navbar-brand justify-content-center">
                            <span class="text-center text-primary" style="font-weight:bold">EMPLOYER</span>
                        </div>
                    }
                    @if (User.IsInRole(DefineRole.Role_Student))
                    {
                        <div class="navbar-brand center-navbar-brand">
                            <span class="text-center text-primary" style="font-weight:bold">STUDENT</span>
                        </div>
                    }
                    @if (User.IsInRole(DefineRole.Role_Approver))
                    {
                        <div class="navbar-brand center-navbar-brand">
                            <span class="text-center text-primary" style="font-weight:bold">APPROVER</span>
                        </div>
                    }
                }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Student Employment Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="~/js/textAreaValidation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>
    @*<script src="~/js/studentProfileValidation.js"></script>
    <script src="~/js/studentEducationValidation.js"></script>*@

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
